:root{
    --header-text-color:#212121;
    --second-text-color:#757575;
    --additional-text-color:#2196F3;
    --main-bkg-color:#2F303A;
    --heder-bkg-color:#ffffff;
}

body {
    font-family: Roboto, sans-serif;
}


p, 
h1, 
h2, 
h3, 
h4,
h5, 
h6 {
    margin : 0;
} 




 ul {
    margin : 0;
    padding: 0;
 }


 button{
    cursor: pointer;
 }


.list {
    list-style: none;
}


.link {
    text-decoration: none;
}



.button-nav:hover,
.button-nav:focus {
    background-color: var(--additional-text-color);
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
} 

/*------- Header---- */

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

.header-link:hover svg ,
.header-link:focus svg {
    fill: var(--additional-text-color);

}



.button-nav:hover,
.button-nav:focus{
    background-color: var(--additional-text-color);
    
} 



/*------- Header---- */

.header {
    margin: auto;
    background: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-color: #ECECEC;
}


.header-container{
    width: 1200px;
    display: flex;
    margin: 0px auto;
}

.header-nav {
    margin-left: 43px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-list {
    display: flex;
    margin: 0px auto;

}

.header-item { 
    margin-left: 50px;

 }


.herader-mail-tel{
    display: block;
    margin-left: 305px;
    margin-top: auto;
    margin-bottom: auto;
}


.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--header-text-color);
    position: relative;
    transition-property: color;
    transition-duration: 500ms;

}

.header-link:hover,
.header-link:focus{
    color: var(--additional-text-color);

}



.header-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--additional-text-color);
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: -34px;

} 


.header-mail {
    fill: currentColor;
    color: var(--second-text-color);
}

.mail-icon{
    margin-right: 10px;
    padding-top: auto
}

.header-tel {
    margin-left: 30px;
    fill: currentColor;
    color: var(--second-text-color);
}

.tel-icon{
    margin-right: 10px;

}


 .header-info {
    display: flex;
    margin-left: 331px;
 }

.header-logo{
    display: inline-block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    width: 145px;
    height: 31px;

    

    
}   

.color-logo{
    color: var(--additional-text-color);
}



/* --------Баннер------- */

.hiro-section{
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/hiro-bg1.png);
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
    left: 0px;
    margin:0px auto;

}
    
.hiro-text {
    display: block;
    width: 696px;
    margin: 0px auto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;    
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.button {
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 32px;
    display: block;
    margin: 0px auto;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
}
 
/* ------Особенносьти----- */


.container{
    width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}


.unique-section{ 
    padding-top: 94px;
    padding-bottom: 47px;
    

}


.unique-container{
    display: flex;
    margin-bottom: 30px;

}

.unique-list{
    width: 270px;
    margin-right: 30px;

}
.unique-container:last-child{
    margin-right: 0px;
}

.section-box-svg{
    padding: 25px 100px;
    display: flex;
    margin: auto;
    height: 120px;
    width: 270px;
    background: #F5F4FA;
    border-radius: 4px;
    
    
}


.section-list{
    display: flex;
    width: 1200px;
    margin:0px auto;
    justify-content: center;
    align-items: center;
}




.section-title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--header-text-color)
}
   


.section-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}


/* ------Чем заниматся----- */

.activity-section{
    padding-top: 47px;
    padding-bottom: 94px;

    
}


.activity-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: #212121;
}

.activity-link {
    display: flex;
    
}



.section-img {
     width: 370px;
    height: 294px;
    margin-right: 30px;
}

.section-img:last-child{
    margin-right: 0px;
}
   

.section-box-img{
    position: relative;
    top: -75px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.text-activity-imag{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #FFFFFF;
}

/* ---Наша команда--- */

.comyuniti-section{
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}




.comyuniti-title {
 
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.photo-box {
    display: flex;
    margin: auto;
    margin-top: 50px;
}
.name-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.neame-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.neame-text{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.master-social-link{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: 1000ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}


.social-master-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.master-social-item + .master-social-item{
    margin-left: 10px;
}


.photo-card {
    width: 270px;
    height: 428px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
     margin-right: 30px;

}
.photo-card:last-child{
    margin-right: 0px;
}
/* .photo-card:first-child{
    margin-left: 0px;
} */

.master-social-icon{
    fill: #757575
}

.master-social-link:hover,
.master-social-link:focus{
    background-color:var(--additional-text-color);
}    

.master-social-link:hover svg ,
.master-social-link:focus svg {
    
    fill: var(--heder-bkg-color);
}



/* ------partner---- */

.partner-section{
    padding-top: 94px;
    padding-bottom: 94px;


}

.partner-title{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
    

.partner-section-svg{
    margin-top: 50px;
    display: flex;
}


.partner-box-svg{
    border: 1px inset #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px 30px;
    margin-right: 30px;
    fill: #AFB1B8;
    transition-property: transform;
    transition-duration: 500ms;
    
}

.partner-box-svg:last-child{
    margin-right: 0px;
}


.partner-link-icon{
    fill: #AFB1B8;
}

.partner-box-svg:hover,
.partner-box-svg:focus{
    border: 1px solid #2196F3; 
    fill:var(--additional-text-color);
    transform: scale(1.5);
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    

}


/* -----Foooter------ */

.footer-link{
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 500;
    font-size: 14px;     
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    background-color: var(--main-bkg-color)

}
.footer-box{
    min-height: 81px;
margin-top: 20px;
}



.footer-master-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
    
.footer-invitation{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    
.footer-box-container{
    width: 1200px;
    margin: auto;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;

}
    
.footerl-social{
    width: 206px;
    margin: 0px auto;
    margin-left: 70px;
    margin-top: 12px;
    justify-content: center;
}
    
.footer-social-item + .footer-social-item{
    margin-left: 10px;
}




.footer-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
    width: 145px;
    height: 31px;  
}
.footer-social-link{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    transition-duration: 500ms;
    transition-timing-function: linear;
    

}



.footer-social-link:hover,
.footer-social-link:focus{
    transform: scale(1.5);
    background-color:rgba(33, 150, 243, 1);
    
}



.footer-tex{
    margin-top: 9px;
}


.footer-list{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  
} 

.gps-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


/* -----portfolio------ */

.gallery-section{
    padding-top: 94px;
    padding-bottom: 94px;

}



 .gallery-container{
    width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
   
}


.button-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color:var(--header-text-color);
    padding: 6px 22px;
    border: 0px;
    transition: bacgraund-color 300ms linear, color 300ms linear;

}

.galerey-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
    
}

.button-box{
    display: flex;
    margin-bottom: 50px;
    
}

.button-section{
    margin-left: 4px;
    margin-right: 4px;
}

.gallerey-content-box{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    margin-top: -6px;
}


.site-nav{
    display: flex;
    flex-wrap: wrap;

}



.content-text{
    font-size: 16px;
    line-height: 1.66;
    letter-spacing: 0.03em;
    color: #757575;
    
    }    

.gallery-box{   
    background: #FFFFFF;
    margin-right: 30px; 
    margin-top: 30px;
}

.gallery-box:nth-child(-n + 3){
    margin-top: 0px;
}

.gallery-box:nth-child(3n + 3){
    margin-right: 0px;
}

.gallery-box:hover,
.gallery-box:focus{
    transition-duration: 250ms;
    box-sizing: content-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
   

.button-section:last-child{
    margin-right: auto;
}
.button-section:first-child{
    margin-left: auto;
}

.gallerey-text-product{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px;
    height: 100%; 
    transform: translateY(100%);
    transition: transform 250ms linear;

}

.masters-item-wrap{
    position: relative;
    overflow: hidden;
}

.gallery-box:hover .gallerey-text-product,
.gallery-box:focus .gallerey-text-product{
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}


/* _______Модалка_____ */


 .baskdrob {
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100vw;
     background-color: hsla(0, 27%, 20%, 0.604);
     transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

 }

 .modal {
     width: 500px;
     min-height: 500px;
     background-color: white;
     border-radius: 5px;
     position: relative;
     top: 35%;
     left: 35%;
     transform: translate( 0%,0%);
     padding: 40px;
     
 }


 .modal-clouse-btn {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: transparent;
     border: 1px solid #999999;
     position: absolute;
     right: 10px;
     top: 10px;

 }

.baskdrob.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;


}

.modal-titel{
    font-weight: 600;
    line-height: 1.4;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px ;
}


.modal-input{
    width: 100%;
    height: 40;
    margin-bottom: 28px;
    border: 1px solid #a99e9e8b;
    border-radius: 3px;
    padding-left: 10px;
    color: var(--header-text-color);
    font-size: 14px;

}

.modal-input::placeholder{
    color: violet;
    font-size: 14px;

}

.modal-lable {
    font-size: 12px;
    display: block;
}

.modal-text {
    width: 100%;
    height: 100%;
    border: 1px solid #999999;
    border-radius: 3px ;
    padding-left:10px ;
    padding-top:10px ;
    color: var(--additional-text-color);
    font-size: 14px;
    resize: none;


}